extends layout

block content

  .delete-content
    h1 #{title}: #{item.name}
    p= item.description

    p Do you really want to delete this Item?

    form(method='POST')
      div.form-group
        input#itemid.form-control(type='hidden', name='itemid', value=item._id )

      button.btn.btn-primary(type='submit') Delete
